version: '3.8'
services:
  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    depends_on:
      - mysql
      - redis
      - minio
  mysql:
    image: mysql:8
    ports:
      - "3306:3306"
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 1048596
      MYSQL_DATABASE: seronium
    volumes:
      - ./data/mysql:/var/lib/mysql
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    container_name: redis
    volumes:
      - ./data/redis:/data
  minio:
    image: quay.io/minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin1048596
    volumes:
      - ./data/minio:/data
    command: server /data --console-address ":9001"